@{
    ViewData["Title"] = "Email Verified";
}

<div class="d-flex justify-content-center align-items-center vh-100 text-center bg-dark text-white">
    <div>
        <h1 class="text-success mb-4">Your Email Verified Successfully 🎉</h1>
        <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-success px-4">
            Go Home
        </a>
    </div>
</div>