@{
    ViewData["Title"] = "ForgetPassword";
}
<link rel="stylesheet" href="~/css/Forgotpassword.css" />


<div class="forgot-wrapper">
    <div class="forgot-card">
        <h3>Password Reset</h3>
        <p>
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>

        <form method="post" asp-action="ForgetPassword">
            <input type="email" class="form-control-forgot" id="Email" name="Email" placeholder="Enter your email" required />

            <button type="submit" class="btn-forgot">Reset Password</button>

            <div class="links">
                <a asp-controller="Auth" asp-action="Login">Login</a>
                <a asp-controller="Auth" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</div>
