@model IEnumerable<Digital_Library.Core.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<section class="hero-section position-relative bg-gray padding-medium">
    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="display-2 text-uppercase text-dark">Shop</h1>
                    <div class="breadcrumbs">
                        <span class="item">
                            <a href="index.html">Home ></a>
                        </span>
                        <span class="item">Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex align-items-center align-content-center justify-content-center pt-5">
    <a class="btn btn-dark rounded-pill col-3 " asp-action="Create" target="_blank">Add New Book</a>
</div>

<div class="shopify-grid py-2 my-2 py-md-5 my-md-5">
    <div class="container-lg">
        <div class="row">
            <main class="col-lg-10 col-md-6 col-sm-12">
                <div class="filter-shop d-flex justify-content-between">
                    <div class="showing-product">
                        <p>Showing 1–9 of 55 results</p>
                    </div>
                    <div class="sort-by pb-3">
                        <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                            <option value="">Default sorting</option>
                            <option value="">Name (A - Z)</option>
                            <option value="">Name (Z - A)</option>
                            <option value="">Price (Low-High)</option>
                            <option value="">Price (High-Low)</option>
                            <option value="">Rating (Highest)</option>
                            <option value="">Rating (Lowest)</option>
                            <option value="">Model (A - Z)</option>
                            <option value="">Model (Z - A)</option>
                        </select>
                    </div>
                </div>
                <div class="product-content product-store d-flex justify-content-between flex-wrap">
                    @foreach(var item in Model)
                    {
                        <div class="col-lg-4 col-md-12 col-sm-12 mb-4 pe-3">
                            <div class="product-card position-relative">
                                <div class="card-img">
                                    <img src="~/images/card-image2.jpg" alt="product-item" class="product-image img-fluid">
                                    <div class="cart-concern position-absolute d-flex justify-content-center">
                                        <div class="cart-button d-flex gap-2 justify-content-center align-items-center">
                                            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modallong">
                                                <svg class="shopping-carriage">
                                                    <use xlink:href="#shopping-carriage"></use>
                                                </svg>
                                            </button>
                                            <button type="button" class="btn btn-light" data-bs-target="#modaltoggle" data-bs-toggle="modal">
                                                <svg class="quick-view">
                                                    <use xlink:href="#quick-view"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- cart-concern -->
                                </div>
                                <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                                    <h3 class="card-title fs-6 fw-normal m-0">
                                        <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                                    </h3>
                                    <span class="card-price fw-bold">$99</span>
                                </div>
                            </div>
                        </div>
                    }

            </main>
            <aside class="col-lg-2 col-md-6 col-sm-12">
                <div class="sidebar">
                    <div class="widget-menu">
                        <div class="widget-search-bar position-relative">
                            <form role="search" method="get" class="d-flex">
                                <input class="search-field rounded-2" placeholder="Search" type="search">
                                <div class="search-icon position-absolute end-0">
                                    <a href="#">
                                        <svg class="search">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-product-categories pt-5">
                        <h5 class="widget-title text-decoration-underline">Categories</h5>
                        <ul class="product-categories sidebar-list list-unstyled text-hover">
                            <li class="cat-item">
                                <a href="shop.html">All</a>
                            </li>
                            <li class="cat-item">
                                <a href="single-product.html">Men Shoes</a>
                            </li>
                            <li class="cat-item">
                                <a href="single-product.html">Women Shoes</a>
                            </li>
                            <li class="cat-item">
                                <a href="single-product.html">Sports Shoes</a>
                            </li>
                            <li class="cat-item">
                                <a href="single-product.html">Child Shoes</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-product-brands pt-3">
                        <h5 class="widget-title text-decoration-underline">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled text-hover">
                            <li class="tags-item">
                                <a href="shop.html">Nike</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Bata</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Woodland</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Puma</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Adidas</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Reebok</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">Liberty</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-price-filter pt-3">
                        <h5 class="widget-titlewidget-title text-decoration-underline">Filter By Price</h5>
                        <ul class="product-tags sidebar-list list-unstyled text-hover border-bottom pb-3">
                            <li class="tags-item">
                                <a href="shop.html">Less than $10</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">$10- $20</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">$20- $30</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">$30- $40</a>
                            </li>
                            <li class="tags-item">
                                <a href="shop.html">$40- $50</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
